title {
    color: red;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    text-overflow: ellipsis;
    text-wrap: wrap;
    text-overflow: ellipsis;
}